.vscode
*.out
*.Rproj
*.rds
.DS_Store
*.spl
*.aux
*.fdb_latexmk
*.xdv
*.fls
*.bbl
*.bcf
*.blg
*.log
*.pdf
*.dvi
*.gz
*.run.xml
.Rproj.user
.Rdata
.Rhistory*

*.snm
*.nav
*.toc

_minted*


!*/figures/*.pdf
!manuscript/coverletter.pdf
